@using Microsoft.AspNetCore.SignalR.Client
@inject NavigationManager Nav
@inject HttpClient httpClient
@implements IAsyncDisposable

<MudGrid Spacing="0">
  <MudItem xs="6">
    <MudGrid Spacing="0">
      <MudItem xs="12">
        <MudButtonGroup Color="Color.Primary" Variant="Variant.Filled" Style="margin-top: 18px;">
          <MudTooltip Text="Delete selected">
            <MudButton Disabled="SelectedMessage == null" StartIcon="@Icons.Material.Filled.Close" OnClick="DeleteSelectedAsync"></MudButton>
          </MudTooltip>
          <MudTooltip Text="Delete all">
            <MudButton StartIcon="@Icons.Material.Filled.Delete" OnClick="DeleteDataAsync"></MudButton>
          </MudTooltip>
          <MudTooltip Text="Refresh messages">
            <MudButton StartIcon="@Icons.Material.Filled.Refresh" OnClick="LoadDataAsync"></MudButton>
          </MudTooltip>
          <MudTooltip Text="Relay">
            <MudButton Disabled="true" StartIcon="@Icons.Material.Filled.FastForward"></MudButton>
          </MudTooltip>
        </MudButtonGroup>
      </MudItem>

    </MudGrid>

    <div class="divider">
      <MudDivider />
    </div>

    <MudTable Items="@Elements" @ref="mudTable" T="MessageSummary" FixedHeader="true" FixedFooter="true" Dense="true" Hover="true" Bordered="false" Striped="true"
              Virtualize="true" Height="100%" Filter="new Func<MessageSummary,bool>(FilterFunc1)" RowStyleFunc="@SelectedRowStyleFunc"
              OnRowClick="@OnSelectedMessageChangedAsync" @bind-SelectedItem="SelectedMessage" RowsPerPage="50">
      <ToolBarContent>
        <MudText Typo="Typo.h6">Messages</MudText>
        <MudSpacer />
        <MudTextField @bind-Value="searchString" Placeholder="Search" Adornment="Adornment.Start" AdornmentIcon="@Icons.Material.Filled.Search" IconSize="Size.Medium" Class="mt-0"></MudTextField>
      </ToolBarContent>
      <HeaderContent>
        <MudTh>Received</MudTh>
        <MudTh>From</MudTh>
        <MudTh>To</MudTh>
        <MudTh>Subject</MudTh>
      </HeaderContent>
      <RowTemplate>
        <MudTd Style="@IsMailRead(context.IsUnread)" DataLabel="Received">@context.ReceivedDate</MudTd>
        <MudTd Style="@IsMailRead(context.IsUnread)" DataLabel="From">@context.From</MudTd>
        <MudTd Style="@IsMailRead(context.IsUnread)" DataLabel="To">@context.To</MudTd>
        <MudTd Style="@IsMailRead(context.IsUnread)" DataLabel="Subject">@context.Subject</MudTd>
      </RowTemplate>
      <PagerContent>
        <MudTablePager PageSizeOptions="new int[] {50, 100, 200}" />
      </PagerContent>
    </MudTable>
  </MudItem>
  <MudItem xs="6">
    <pre style="padding: 16px;">
      @_messageRaw
    </pre>
  </MudItem>
</MudGrid>
