@page "/settings/relay"

<MudText Class="mb-5" Typo="Typo.h5">Message Relay</MudText>

@if (_formModel is not null)
{
  
  <MudForm Class="d-flex flex-column gap-4" @ref="_form" Model="_formModel" @bind-IsValid="@_isFormValid">
    <MudSwitch Class="ml-n2" Required="false" Label="Message Relay Enabled" @bind-Checked="_formModel.IsRelayEnabled" />
    <MudTextField @bind-Value="_formModel.SmtpServer" Label="Hostname" Variant="Variant.Outlined" Required="true" RequiredError="Hostname is required!"></MudTextField>
    <MudNumericField @bind-Value="_formModel.SmtpPort" Label="Port" Variant="Variant.Outlined" />
    <MudSelect Label="Tls Mode" AnchorOrigin="Origin.BottomCenter" Variant="Variant.Outlined" @bind-Value="_formModel.TlsMode">
      <MudSelectItem Value="@("None")" />
      <MudSelectItem Value="@("Auto")" />
      <MudSelectItem Value="@("SslOnConnect")" />
      <MudSelectItem Value="@("StartTls")" />
      <MudSelectItem Value="@("StartTlsWhenAvailable")" />
    </MudSelect>
    <MudTextField @bind-Value="_formModel.Login" Label="Login" Variant="Variant.Outlined"></MudTextField>
    <MudTextField @bind-Value="_formModel.Password" Label="Password" Variant="Variant.Outlined"
                  InputType="@_passwordInput" Adornment="Adornment.End" AdornmentIcon="@_passwordInputIcon" OnAdornmentClick="PasswordButtonClick" AdornmentAriaLabel="Show Password"></MudTextField>
    <MudTextField @bind-Value="_formModel.SenderAddress" Label="Sender Address - leave blank to use original sender" Variant="Variant.Outlined"></MudTextField>
    <MudTextField @bind-Value="_formModel.AutomaticRelayRecipients" Label="Auto-Relay Recipients (comma separated list)" Variant="Variant.Outlined"></MudTextField>
    <div class="d-flex align-center justify-space-between mt-6">
      <MudButton Class="ml-auto" Variant="Variant.Filled" Color="Color.Primary" Disabled="@(!_isFormValid)" OnClick="@(async () => await SubmitAsync())">Save</MudButton>
    </div>
  </MudForm>

}
